<div id="images-modal" class="modal fade bootsy-modal d-none" tabindex="-1" role="dialog" data-no-turbolink>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h6 class="modal-title mr-5"><%= t 'bootsy.image.p' %></h6>
        <div class="input-group">
          <%= text_field_tag "images-search", nil, placeholder: t("bootsy.action.search"), class: "searchbar" %>
          <div class="input-group-append align-items-center" data-filetype="image">
            <button class="search-btn btn btn-primary mr-2">
              <i class="fas fa-search"></i>
            </button>
            <i class="reset-search fa-solid fa-rotate-left text-secondary"></i>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="alert alert-info bootsy-empty-alert">
          <%= t "bootsy.no_images_uploaded" %>
        </div>

        <div class="gallery-wrapper"></div>
        <div class="pagination-wrapper"></div>
        <%= render 'bootsy/images/loader', image_class: 'bootsy-gallery-loader' %>




        <% if false %>

        <div id="link-image-window" class="px-3 py-0 d-none">
          <%= text_field_tag 'image-link-input', nil, placeholder: t('bootsy.action.enter_image_url'), class: 'form-control' %>
        </div>

        <div id="videos-window" class="d-none">
          <div class='input-group mb-5'>
            <%= text_field_tag 'video-search', nil, placeholder: t('bootsy.action.search'), class: 'searchbar form-control' %>
            <div class='input-group-append align-items-center' data-filetype='video'>
              <button class='search-btn btn btn-primary mr-2'>
                <i class='fas fa-search'></i>
              </button>
              <i class='reset-search fa-solid fa-rotate-left text-secondary'></i>
            </div>
          </div>
          <div class="gallery-wrapper"></div>
          <div class="pagination-wrapper mb-5"></div>
          <div id='external-videos-control'>
            <span class="ml-1">
              <%= t('bootsy.action.youtube_vimeo') %>
            </span>
            <div class='form-inline mt-2'>
              <%= text_field_tag 'video-link-input', nil, placeholder: t('bootsy.action.enter_video_url'), class: 'form-control mr-3' %>
              <%= button_tag t('bootsy.action.insert'), type: 'button', id: 'insert-external-video-btn', class: 'cancel-btn btn btn-primary' %>
            </div>
          </div>
        </div>

        <%= refresh_btn %>

        <% end %>

      </div>

      <div class="modal-footer">
      </div>

      <%# Dropdown menu for images insertion %>
      <div id="dropdown-menu" class="dropdown" tabindex=-2>
        <%= render 'bootsy/images/image_dropdown' %>
      </div>
    </div>
  </div>
</div>