<div id="images-modal" class="modal fade bootsy-modal d-none" tabindex="-1" role="dialog" data-no-turbolink>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h6 class="modal-title mr-5"><%= t 'bootsy.image.p' %></h6>
        <div class="input-group">
          <%= text_field_tag "images-search", nil, placeholder: t("bootsy.action.search"), class: "searchbar" %>
          <div class="input-group-append align-items-center" data-filetype="image">
            <button class="search-btn btn btn-primary mr-2">
              <i class="fas fa-search"></i>
            </button>
            <i class="reset-search fa-solid fa-rotate-left text-secondary"></i>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="alert alert-info bootsy-empty-alert"></div>

        <div class="gallery-wrapper"></div>
        <div class="pagination-wrapper mb-5"></div>

        <h6 class="modal-title mb-4"><%= t("bootsy.image.new") %></h6>

        <% # For some legacy reason, first <form> tag gets removed from the modal. %>
        <% # Oddly enough, the content of the form is preserved - only the wrapping <form> tag is removed %>
        <% # For this reason this <form> tag is present here, so that real form below doesn't get stripped. %>
        <form></form>

        <div class="row">
          <div class="col-md-6">
            <% user_file = UserFile.new(filetype: :image, accesstype: UserFile::ACCESSTYPES[:public]) %>
            <%= form_for(user_file, html: {multipart: true, class: "form"}, remote: true) do |f| %>
              <%= f.hidden_field :filetype %>
              <%= f.hidden_field :accesstype %>
              <div class="input-group mb-2">
                <div class="custom-file">
                  <%= f.file_field :content, class: "custom-file-input", accept: "image/*" %>
                  <%= f.label :content, t("bootsy.action.choose_file"), class: "custom-file-label" %>
                </div>
                <div class="input-group-append">
                  <%= f.submit t("bootsy.action.insert"), class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <span class="d-block mb-2"><%= "#{t('bootsy.action.or').capitalize!} #{t('bootsy.action.use_link').downcase!}"%></span>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <%= text_field_tag "image-url-input", nil, placeholder: t("bootsy.action.enter_image_url"), class: "form-control" %>
              <div class="input-group-append">
                <button id="link-image-btn" class="btn btn-primary">
                  <%= t("bootsy.action.insert") %>
                </button>
              </div>
            </div>
          </div>
        </div>

        <%= render 'bootsy/images/loader', image_class: 'bootsy-gallery-loader' %>
      </div>

      <div class="modal-footer">
      </div>

      <%# Dropdown menu for images insertion %>
      <div id="images-menu" class="dropdown" tabindex=-2>
        <%= render 'bootsy/images/image_dropdown' %>
      </div>
    </div>
  </div>
</div>