<div class="modal fade bootsy-modal" tabindex="-1" role="dialog"
  data-no-turbolink data-gallery-id="<%= container.bootsy_image_gallery_id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title"><%= t 'bootsy.image.p' %></h6>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="alert alert-info bootsy-empty-alert">
          <%= t 'bootsy.no_images_uploaded' %>
        </div>

        <div id="select-image-window" class="row bootsy-gallery"></div>

        <div id="link-image-window" class="px-3 py-0 d-none">
          <%= text_field_tag 'image-link-input', nil, placeholder: t('bootsy.action.enter_image_url'), class: 'form-control' %>
        </div>

        <div id="remote-gallery-window" class="d-none">
          <div class="gallery"></div>
          <div class="pagination"></div>
        </div>

        <%= render 'bootsy/images/loader', image_class: 'bootsy-gallery-loader' %>

        <%= refresh_btn %>
      </div>

      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
