<div class="modal fade bootsy-modal" tabindex="-1" role="dialog"
  data-no-turbolink data-gallery-id="<%= container.bootsy_image_gallery_id %>">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title"><%= t 'bootsy.image.media' %></h6>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="alert alert-info bootsy-empty-alert">
          <%= t 'bootsy.no_images_uploaded' %>
        </div>

        <div id="select-image-window" class="row bootsy-gallery"></div>

        <div id="link-image-window" class="px-3 py-0 d-none">
          <%= text_field_tag 'image-link-input', nil, placeholder: t('bootsy.action.enter_image_url'), class: 'form-control' %>
        </div>

        <div id="global-gallery-window" class="d-none">
          <div class="gallery-wrapper"></div>
          <div class="pagination-wrapper"></div>
        </div>

        <div id="videos-window" class="d-none">
          <div class="gallery-wrapper"></div>
          <div class="pagination-wrapper mb-4"></div>
          <div id='external-videos-control'>
            <span class="ml-1">
              <%= t('bootsy.action.youtube_vimeo') %>
            </span>
            <div class='form-inline mt-2'>
              <%= text_field_tag 'video-link-input', nil, placeholder: t('bootsy.action.enter_video_url'), class: 'form-control mr-3' %>
              <%= button_tag t('bootsy.action.insert'), type: 'button', id: 'insert-external-video-btn', class: 'cancel-btn btn btn-primary' %>
            </div>
          </div>
        </div>

        <%= render 'bootsy/images/loader', image_class: 'bootsy-gallery-loader' %>

        <%= refresh_btn %>
      </div>

      <div class="modal-footer">
      </div>

      <%# Dropdown menu for images insertion %>
      <div id="dropdown-menu" class="dropdown" tabindex=-2>
        <%= render 'bootsy/images/image_dropdown' %>
      </div>

      <%# Dropdown menu for videos insertion %>
      <div id="videos-dropdown" class="dropdown" tabindex=-2>
        <%= render 'bootsy/images/video_dropdown' %>
      </div>
    </div>
  </div>

  <%= javascript_tag do %>
    window.Bootsy = window.Bootsy || {};
    Bootsy.translations = Bootsy.translations || {};
    Bootsy.translations['noImagesUploaded'] = "<%= t('bootsy.no_images_uploaded') %>";
    Bootsy.translations['invalidIframeURL'] = "<%= t('errors.messages.invalid_iframe_url') %>";
    Bootsy.translations['imageFetchFailed'] = "<%= t('errors.messages.image_fetch_failed').html_safe %>";
  <% end %>
</div>