<%= form_for([bootsy, resource_or_nil(gallery), image],
  html: { multipart: true, class: 'bootsy-upload-form form-inline' }, format: 'json') do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= render 'bootsy/images/loader', image_class: 'bootsy-upload-loader' %>

  <%# Buttons for controlling image upload %>
  <div id="image-upload-control">
    <%= f.file_field :content, title: t('bootsy.action.upload'), accept: 'image/*', class: 'text-light'%>
    <%= button_tag t('bootsy.action.use_link'), type: 'button', class: 'use-link-btn btn btn-secondary ml-3'%>
    <%= button_tag t('bootsy.action.select_from_gallery'), type: 'button', class: 'remote-gallery-btn btn btn-secondary ml-3' %>
  </div>

  <%# Buttons for controlling image linking %>
  <div id="image-link-control" class="d-none">
    <%= button_tag t('bootsy.action.insert'), type: 'button', class: 'insert-btn btn btn-secondary' %>
    <%= button_tag t('bootsy.action.cancel'), type: 'button', class: 'cancel-btn btn btn-secondary ml-2' %>
  </div>

  <%# Buttons for controlling usage of remote gallery %>
  <div id="remote-gallery-control" class="d-none">
    <%= button_tag t('bootsy.action.cancel'), type: 'button', class: 'cancel-btn btn btn-secondary' %>
  </div>
<% end %>
