<%= form_for([bootsy, resource_or_nil(gallery), image],
  html: { multipart: true, class: 'bootsy-upload-form form-inline' }, format: 'json') do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= render 'bootsy/images/loader', image_class: 'bootsy-upload-loader' %>

  <%# Check! %>
  <%# Buttons for controlling image upload/link %>
  <div id='image-upload-control'>
    <%= f.file_field :content, title: t('bootsy.action.upload'), accept: 'image/*', class: 'text-light'%>
    <%= button_tag 'Use link', type: 'button', class: 'use-link-btn btn btn-secondary ml-3'%>
  </div>

  <div id='image-link-control' class='d-none'>
    <div class="dropdown d-inline-block">
      <%= button_tag 'Insert', type: 'button', class: 'insert-btn btn btn-secondary mr-2', data: {toggle: 'dropdown'}, :'aria-haspopup' => 'true', :'aria-expanded' => 'false' %>
      <ul class="dropdown-menu" role="menu">
        <li role="presentation" class="dropdown-header"><%= t 'bootsy.image.size' %></li>

        <% Bootsy.image_versions_available.each do |size| %>
          <li role="presentation" class="dropdown dropdown-submenu">
            <%= link_to '#', tabindex: '-1', role: 'menuitem', data: { toggle: 'dropdown' }, class: "dropdown-item" do %>
              <i class="icon-picture"></i>

              <%= t size, scope: 'bootsy.image' %>
            <% end %>

            <ul class="dropdown-menu" role="menu">
              <% [:left, :right, :inline].each do |position| %>
                <li role="presentation">
                  <%= link_to '#', class: 'dropdown-item insert', tabindex: '-1', role: 'menuitem', 
                    data: { image_size: size.to_s, position: position.to_s} do %>
                    <%= t position, scope: 'bootsy.image.position' %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% if Bootsy.allow_destroy %>
          <li role="presentation" class="divider"></li>

          <li role="presentation">
            <%= link_to image, method: :delete, remote: true,
              data: { confirm: t('bootsy.image.confirm.destroy'), type: 'json' },
              tabindex: '-1', role: 'menuitem', class: 'dropdown-item destroy-btn' do %>
              <i class="icon-trash"></i>

              <%= t('bootsy.action.destroy') %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <%= button_tag 'Cancel', type: 'button', class: 'cancel-btn btn btn-secondary' %>
  </div>
  <%#%>
<% end %>
