<div id="videos-modal" class="modal fade bootsy-modal d-none" tabindex="-1" role="dialog" data-no-turbolink>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h6 class="modal-title mr-5"><%= t 'bootsy.video.p' %></h6>
        <div class="input-group">
          <%= text_field_tag "videos-search", nil, placeholder: t("bootsy.action.search"), class: "searchbar" %>
          <div class="input-group-append align-items-center" data-filetype="video">
            <button class="search-btn btn btn-primary mr-2">
              <i class="fas fa-search"></i>
            </button>
            <i class="reset-search fa-solid fa-rotate-left text-secondary"></i>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="alert alert-info bootsy-empty-alert"></div>

        <div class="gallery-wrapper"></div>
        <div class="pagination-wrapper mb-5"></div>

        <h6 class="modal-title mb-4"><%= t("bootsy.video.new") %></h6>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group mb-2">
              <div class="custom-file">
                <%= file_field_tag "video-file-input", class: "custom-file-input", accept: "video/*" %>
                <%= label_tag "video-file-input", t("bootsy.action.choose_file"), class: "custom-file-label" %>
              </div>
              <div class="input-group-append">
                <button id="upload-video-btn" class="btn btn-primary">
                  <%= t("bootsy.action.insert") %>
                </button>
              </div>
            </div>
          </div>
        </div>

        <span class="d-block mb-2"><%= "#{t('bootsy.action.or').capitalize!} #{t('bootsy.action.use_link').downcase!}"%></span>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <%= text_field_tag "video-url-input", nil, placeholder: t("bootsy.action.enter_video_url"), class: "form-control" %>
              <div class="input-group-append">
                <button id="link-video-btn" class="btn btn-primary">
                  <%= t("bootsy.action.insert") %>
                </button>
              </div>
            </div>
          </div>
        </div>

        <%= render 'bootsy/images/loader', image_class: 'bootsy-gallery-loader' %>
      </div>

      <div class="modal-footer">
      </div>

      <%# Dropdown menu for videos insertion %>
      <div id="videos-menu" class="dropdown" tabindex=-2>
        <%= render 'bootsy/images/video_dropdown' %>
      </div>
    </div>
  </div>
</div>