<div id="videos-modal" class="modal fade bootsy-modal d-none" tabindex="-1" role="dialog" data-no-turbolink>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h6 class="modal-title mr-5"><%= t 'bootsy.video.p' %></h6>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="alert alert-info bootsy-empty-alert"></div>

        <div class="gallery-wrapper"></div>
        <div class="pagination-wrapper mb-5"></div>

        <%= render "bootsy/images/searchbar", filetype: "video" %>

        <h6 class="modal-title mb-4"><%= t("bootsy.video.new") %></h6>

        <%= render "bootsy/images/user_file_form", filetype: "video" %>

        <span class="d-block mb-2"><%= "#{t('bootsy.action.or').capitalize!} #{t('bootsy.action.use_link').downcase!}"%></span>

        <%= render "bootsy/images/link_form", filetype: "video" %>

        <%= render 'bootsy/images/loader', image_class: 'bootsy-gallery-loader' %>
      </div>

      <div class="modal-footer">
      </div>

      <%# Dropdown menu for videos insertion %>
      <div id="videos-menu" class="dropdown" tabindex=-2>
        <%= render 'bootsy/images/video_dropdown' %>
      </div>
    </div>
  </div>
</div>